
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Hakkkımda menüsü</h2>
<table class="table table-bordered">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Ad</th>
            <th scope="col">Soyad</th>
        </tr>
    </thead>
    <tbody>
    <th scope="row">1</th>
    <td>Betül</td>
    <td>Tuzcu</td>
    </tbody>

</table>


